html {
    background-color: Black;
}

.sidebar {
    height: 100%;
    width:  160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: BLACK;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: azure;
    display: block;
}

.sidebar a:hover {
    color: blueviolet;
}

.main {
    background-color: Black;
    margin-left: 160px;
    padding: 0px 10px;
}

h1 {
    color: Green;
}

p {
    color: Green;
}
